#include "/home/sleepy/.dotfiles/Xresources/horizon.Xresources"

URxvt.font: xft:JetBrainsMono Nerd Font Mono:style=Regular:size=13
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.iso14755: false
!URxvt.transparent: true
!URxvt.shading: 24

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
